includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    ignoreErrors:
            - '#Class App\\Models\\User uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types: TFactory#'
    paths:
        - app/

    level: 6
